/* Media query breaks - 1399px, 600px */

.login-section {
    background-color: #F0FFE4;
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.login-cluster {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0px 320px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.login-box {
    width: 300px;
    height: 180px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 40px;
}

#admin-login {
    background-color: #E8EEFE;
}

#school-login {
    background-color: #C2D3E7;
}

#teacher-login {
    background-color: #FDF1E5;
}

#student-login {
    background-color: #C6C0E2;
}

.login-vector {
    width: 300px;
    height: 110px;
}

.login-text {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 70px;
    margin: 0;
    font-size: 24px;
}

/* For screens below 1399px */
@media (max-width: 1399px) {
    .login-cluster {
        justify-content: center;
    }
}

/* For screens below 768px */
@media (max-width: 768px) {
    .login-cluster {
        justify-content: center;
        padding: 0;
    }
}

