.login-section {
  padding: 32px;
  height: 400px;
  background-color: #f0ffe4;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

#sign-in {
  padding: 32px;
  text-align: center;
  font-size: 28px;
}

.login-cluster {
  height: 300px;
  display: flex;
  flex-direction: row;
  padding: 0px 100px;
}

.admin-login {
  width: 300px;
  height: 180px;
  background-color: #e8eefe;
  cursor: pointer;
}
.admin-login:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-vector {
  width: 300px;
  height: 110px;
}

.login-text {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 70px;
  margin: 0;
  font-size: 24;
}
